{% extends 'base.html.twig' %}
{% block body %}

    <section class="jumbotron text-center" id="home">
        <div class="container">
          <h1 class="jumbotron-heading">LIFE IS SNOW</h1>
          <p class="lead text-muted">Le premier site communautaire des snowboarders de France ! <br> Apprends, partage, conseil et échange avec des gens qui ont la même passion que toi !</p>
          <p>
            <a href="{{ path('all_tricks') }}" class="btn btn-primary my-2">TRICKS</a>
            {% if not app.user %}
            <a href="{{ path('security_registration') }}" class="btn btn-secondary my-2">S'INSCRIRE</a>
            {% else %}
            <a href="{{ path('new_tricks') }}" class="btn btn-danger my-2">AJOUTE TON TRICK !</a>
            {% endif %}
          </p>
          {#<img src="images/snow.jpg" alt="">#}
        </div>
        <div class="float-right">
                    <div class="btn-group">
                      <a href="#tricks" class="btn bg-white"><i class="fas fa-chevron-down"></i></a>
                    </div>
         </div><br>
        </div>
      </section>

        

          <div class="row min-vh-100 justify-content-around" id="tricks">
            {% for trick in pagination %}
                <article class=" row col-md-4 h-50 m-3">
                    <img class="card-img-top" src="{{ asset('uploads/img/' ~ trick.illustrationFilename) }}" alt="Thumbnail [100%x225]">
                    <div class="card-body">
                <h2><a href="{{ path('trick_show', {'id': trick.id, 'slug': trick.slug } )}}" style="text-decoration:none">{{ trick.name }}</a></h2>
                  <p class="card-text">{{ trick.description }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    {% if app.user %}
                    <div class="btn-group">
                      <a href="{{ path('tricks_edit', {'slug': trick.slug, 'id': trick.id})}}" type="btn" class="btn btn-sm btn-outline-secondary"><i class="fas fa-pen"></i></a>
                      <a href="{{ path('delete', {'slug': trick.slug, 'id': trick.id})}}" type="btn" class="btn btn-sm btn-outline-secondary" onclick="return confirm('Etes-vous sur de vouloir supprimer cette figure ?')"><i class="fas fa-trash"></i></a>
                    </div>
                    {% endif %}
                    
                  </div>
                </article>
            {% endfor %}
        </div>
        <div class="d-flex mx-auto">
        
          {{ knp_pagination_render(pagination) }}
          <div class="float-right">
                    <div class="btn-group">
                      <a href="#tricks" class="btn bg-white"><i class="fas fa-chevron-up"></i></a>
                    </div>
         </div><br>
      </div>
{% endblock %}
