{% extends 'base.html.twig' %}
{% form_theme formTricks 'bootstrap_4_layout.html.twig' %}


{% block body %}

   <h1>Création d'un Tricks</h1>

   {{ form_start (formTricks) }}
   {{ form_row(formTricks.name, {'attr': {'placeholder': "Titre du Trick"}}) }}
   {{ form_row(formTricks.description, {'attr': {'placeholder': "Description du Trick"}}) }}
   {{ form_row(formTricks.illustration) }}

   {{ form_widget(formTricks)}}

   <button type="submit" class="btn btn-success">
      {% if editMode %}
          Enregistrer
      {% else %}
          Ajouter le Trick
      {% endif %}
   </button>   
   {{ form_end(formTricks) }} 

{% endblock %}